<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /comp212/assign1

RewriteCond %{REQUEST_URI} !(\.gif$)|(\.jpg$)|(\.png$)|(\.css$)|(\.js$)
RewriteCond %{REQUEST_URI} ^(.*)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* core.php [L]
</IfModule>


