@charset "UTF-8";


/* 
*	CSS Document for EZ Trader
*	Thomas Mitchell
*	thomas.mitchell@otago.ac.nz 
*/




body {
	background-color: #D8D8D8;
	font-family: Arial;
	font-size: 13px;
}
#title {
	margin-left: 5%;
	position: relative;
	margin-top: 28px;
	font-family: verdana;
	font-size: 24px;
	color: #aa0b0b;
	padding-left: 5px;
}
#left_col {
	width: 200px;
	border-right-width: thick;
	border-right-style: solid;
	border-right-color: #DDDDDD;
}
#user_box {
	top: 57px;
	position: absolute;
	margin-left: 200px;
	width: 700px;
	height: auto;
	border: thick solid #DDDDDD;
	padding-left: 20px;
}
.leftcoll_title {
	width: 200px;
	height: 20px;
	text-align: center;
	background-color: #8DA6A6;
	padding-top: 3px;
	padding-bottom: 5px;
	font-family: Arial;
	color: #FFFFFF;
	font-size: 17px;
}
.leftcoll_user {
	width: 170px;
	height: 45px;
	background-color: #DDDDDD;
	padding-top: 3px;
	padding-bottom: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	padding-left: 30px;
	color: #c0c0c0;
}
.leftcoll_user:hover {
	background-color: #999;
}
.leftcoll_name {
	text-align: center;
	word-spacing: normal;
	text-decoration: none;
	color: #000;
}
.leftcoll_email {
	font-size: 10px;
	font-style: italic;
	text-align: right;
	color: #000;
}
#avatar {
	height: 28px;
	width: 28px;
	position: absolute;
	margin-left: 5%;
	margin-top: 25px;
	top: 4px;
}

#c_box {
	background-color: #FFFFFF;
	padding-right: 1%;
	padding-left: 2%;
	position: relative;
	margin-top: 3px;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 70px;
	background-image: url('content_grad.png');
	height: auto;
	background-repeat: repeat-x;
	padding-top:1px;
	width: 85%;
	min-width: 750px;
}
.icon {
}
ul.tabs {
	float: left;
	position: absolute;
	left: 120px;
	top: -7px;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	width: 500px;
}
ul.tabs li {
	float: left;
	margin-left: .5em;
	font-size: 100%;
	list-style: none;
}
	ul.tabs li a,
	ul.tabs li strong {
	float: left;
	background-color: #AA0B0B;
	color: #DDD;
	font-weight: bold;
	text-decoration: none;
}
	ul.tabs li span {
	display: block;
	padding: .5em .75em;
	color: #FFF;
}
	ul.tabs li a:hover {
	color: #FFF;
	text-decoration: none!important;
	background-color: #770707;
}
	ul.tabs li.active a,
	ul.tabs li.active strong {
	color: #453;
	background: #E3F5CE;
}
	ul.tabs li.active a span,
	ul.tabs li.active strong span {
	background-position: 100% -54px;
		color: #453;

}

#right_menu {
	position: absolute;
	font-family: "Helvetica Neue";
	color: #424242;
	font-size: 12px;
	top: 3px;
	right: 5%;
	padding-left: 5px;
}
.app_text a:link {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #424242;
	text-decoration: none;
	height: 15px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #A9A59C;
}
.app_text a:visited {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #424242;
	text-decoration: none;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #A9A59C;
}
.app_text a:hover {
	border-bottom-style: solid;
	border-bottom-color: #C2BDB3;
	color: #797979;
}

#title a {
	text-decoration: none;
	color: #aa0b0b;
}
#copyfooter {
	position: relative;
	clear:both;
	bottom: auto;
	margin-left: 5%;
	height: 49px;
	padding-left: 10px;
	margin-top: 3px;
}
.copy_text {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #424242;
	text-decoration: none;
	height: 15px;
	padding-top: 7px;
}
.copy_text a:link {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #212121;
	text-decoration: none;
	height: 15px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #A9A59C;
}
.copy_text a:visited {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #212121;
	text-decoration: none;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #A9A59C;
}
.copy_text a:hover {
	border-bottom-style: solid;
	border-bottom-color: #C2BDB3;
	color: #5e5e5e;
	text-decoration: none;
}


.cbox_heading {
	padding-bottom: 10px;
	color:#445533;
	font-family:"Helvetica Neue",Arial,Helvetica,Tahoma,sans-serif;
	font-size:20px;
	height: 30px;
}
.cbox_heading_button {
	padding-bottom: 10px;
	color:#445533;
	font-family:"Helvetica Neue",Arial,Helvetica,Tahoma,sans-serif;
	font-size:20px;
	height: 30px;
	text-align: right;
}
#icon {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: -1px;
	margin-right: 3px;
	margin-bottom: 0;
	margin-left: -3px;
}

.error {
	background-color: red;
	color: white;
}
